.settings__setting {
  padding: 20px 0px;
  border-bottom: var(--main-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings__setting__column:first-child {
  font-size: 15px;
  font-weight: 600;
}
.settings__setting__column:last-child {
  opacity: 0.7;
}
.settings__setting__column i {
  margin-right: 20px;
}
@keyframes shaky{
  0%,100%{
    transform: rotateZ(45deg);
  }
  50%{
    transform: rotateZ(-45deg);
  }
}
.settings__setting:hover i{
  animation: shaky 0.8s linear infinite;
}